<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>

<!--Inicia a pasta(Componente) interpolation-->
<!--<app-interpolation></app-interpolation>-->
<!--Inicia a pasta(Componente) property-->
<!--<app-property></app-property>-->
<!--Inicia a pasta(Componente) event-->
<!--<app-event></app-event>-->
<!--Inicia a pasta(Componente) twoway-->
<!--<app-twoway></app-twoway>-->
<!--Inicia a pasta(Componente) diretivas-->


<!--<app-form-carro></app-form-carro>-->
<app-lista-compras></app-lista-compras>